@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');


.item{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.container-fluid {
  text-align: center;
  width: 100%;
  padding: 0;
  height: 700px;;
}

.carousel-inner {
  width: 100%;
  height: 600px;
  object-fit:cover;
  padding: 0 0 0 0
}

.img-main-carousel{
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}