<div class="page-content">
  <div class="contact-area gray-bg ptb-100" style="background-color: rgba(254, 248, 241, 0.612)">
        <div class="container">
            <div class="row">
            <form id="contact-form" action="mail.php" method="post" class="col-md-8 col-xs-12">
                <div class="row" style="margin-left:-15px; margin-right:-15px;">
                    <div class="all-contact-text"  style="width: 100%; padding-top: 10px">
                        <div class="col-sm-6 col-xs-12">
                            <div class="main-contact">  
                                <input name="name" class="form-control" type="text" required="" placeholder="Name" style="border-radius:8px;">
                            </div>
                        </div>
                        <br>
                        <div class="col-sm-6 col-xs-12">
                            <div class="main-contact">
                                <input name="email" class="form-control" type="email" required="" placeholder="Email" style="border-radius:8px;">
                            </div>
                        </div>
                        <br>
                        <div class="col-sm-6 col-xs-12">
                            <div class="main-contact">
                                <input name="telephone" class="form-control" type="text" required="" placeholder="Tel" style="border-radius:8px;">
                            </div>
                        </div>
                        <br>
                        <div class="col-sm-6 col-xs-12">
                            <div class="main-contact contact-mrgn">
                                <input name="subject" class="form-control" type="text" required="" placeholder="Subject" style="border-radius:8px;">
                            </div>
                        </div>
                        <br>
                        <div class="col-xs-12">
                            <div class="tnm-textarea">
                                <textarea name="message" class="form-control" required="" placeholder="Message" style="border-radius:8px;"></textarea>
                            </div>
                            <div class="submit">
                                <input class="submit" type="submit" value="Send message" style="border-radius:8px;">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
                <div class="col-md-4 col-xs-12">
                    <div class="fotter-single-area res-contact">
                        <h3 class="leave-comment-text">Contact Info</h3>
                        <div class="contact-details">
                            <ul>
                                <li>
                                    <img src="../../../assets/c1.png" alt="">&nbsp;  &nbsp; Pudhumai Nagar, Ariyur, Vellore - 55
                                </li>
                                <br>
                                <li>
                                    <img src="../../../assets/c2.png" alt="">&nbsp;  &nbsp;Telephone : (91) 97874 44059
                                </li>
                                <br>
                                <li>
                                    <img src="../../../assets/c3.png" alt="">&nbsp;  &nbsp;Email : ssmaac@gmail.com
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p class="form-messege"></p>
            </div>
        </div>
    </div>
    <div class="map-area">
            <div class="contact-map">
                <div id="hastech"></div>
            </div>
        </div>
</div>

