  <div class="container">
      <span>
             <div >
                  <a href="#"><img id="logo2" class="col-md-4" src="../../../assets/oglogo.png"></a>
                  <h2 class="col-md-8">NIKHILA ARTS AND CRAFTS</h2>
              </div>
      </span  >
  </div> 
  <div class="breakLine"></div>
  
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
      <div id="inner-navbar">
        <a class="navbar-brand" href="#page-top">NIKILA ARTS & CRAFTS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">HERITAGE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">OUR CRAFTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">OUR MASTERPIECES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">ABOUT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">CONTACT US</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div class="imageFader">
        <img src="../../../assets/image1.jpg">
        <!-- <div class="row">
          <div class="col-md-6" id="temple">
            <img src="../../../assets/logo3.png">
          </div>
          <div class="col-md-6" id="rightText">
            <h1>Design Lounge</h1>
              <p>
                  Exceptional quality and uniqueness of design is what gives Nikila Arts & Crafts the reputation of unparalleled distinction in the jewellery industry. Our designs are innovative and fresh, yet classy, sophisticated and original. Crafted to the highest standards in house by our unique design process and expert craftsmen, customers can be assured of quality and excellence.
                  
                   
                  
                  Distinctive, Unique & Inspiring
                  
                  We believe jewellery is an expression of your personality and everyone deserves a piece of jewellery that is special and unique to their tastes and desires. Our in-house jewellery designers and diamond experts are inspired by this ideology, designing and crafting a piece that is as special and unique as you are. Our Heartisans enable you to bring your ideas and dreams to life in a piece of jewellery that was designed just for you; a piece that you will treasure and will be proud to pass down to future generations.</p>
            </div>
        </div> -->
      </div>
    </header>
    <div class="container col-md-12">
      <img class="lineDivider" src="../../../assets/Line-Divider-1-768x134.png">
    </div>
    <div class="container motoContent">
      <h1 class="headingContent" style="text-align: center">SHRI GURUKRUPA</h1>
    </div>