<div class="container">
  <section class="cards mt-5 mb-5">
    <!-- <div class="row"> -->
    <article class="card card--1" (click)="clickedThirumalaTemple()">
      <div class="card__img"></div>
      <div class="card__img--hover"></div>
      <div class="card__info">
        <a class="nav-link" routerLink="/masterpieces-detail"></a>
        <span class="card__category"> Gold Plating</span>
        <h3 class="card__title">Dharmasthala Shivan Temple</h3>
      </div>
    </article>
    <article class="card card--2" (click)="clickedMeenakshiTemple()">
      <div class="card__img"></div>
      <div class="card__img--hover"></div>
      <div class="card__info">
        <span class="card__category"> Vimanam</span>
        <h3 class="card__title">Thirumala Thirupathi Devasthanam</h3>
      </div>
    </article>
    <!-- </div> -->
    <!-- </section> -->
    <article class="card card--3" (click)="clickedSriPuramTemple()">
      <div class="card__img"></div>
      <div class="card__img--hover"></div>
      <div class="card__info">
        <span class="card__category"> Gold Plating</span>
        <h3 class="card__title">Dharmasthala Shivan Temple</h3>
      </div>
    </article>
    <article class="card card--4" (click)="clickedTDharmasthalaTemple()">
      <div class="card__img"></div>
      <div class="card__img--hover"></div>
      <div class="card__info">
        <span class="card__category"> Gold Plating</span>
        <h3 class="card__title">Dharmasthala Shivan Temple</h3>
      </div>
    </article>
    <article class="card card--5" (click)="clickedKancheepuramTemple()">
      <div class="card__img"></div>
      <div class="card__img--hover"></div>
      <div class="card__info">
        <span class="card__category"> Gold Plating</span>
        <h3 class="card__title">Dharmasthala Shivan Temple</h3>
      </div>
    </article>
  </section>
</div>
