
body{
  position: relative;
  width: 100%;
  top: 10px;
  background-color: aliceblue;
  padding-bottom:80px;
}
.footer{
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer-top{
  background: #F0E68C;
  position: relative;
  top: 10px;
  height: auto;
  width: 100%;
  padding-top: 60px;
  padding-left: 20px;
  padding-bottom: 40px;
  text-align: center;
}

/* Relates first half of the footer horizontally */

.footer-about {
  padding-bottom: 20px;
}
.footer-head-title-about-us ,.footer-header-title-contact {
  font-family: cursive;
  font-weight: 200;
  text-align: center;
  padding-bottom: 10px;
  text-shadow: 1px 1px #888;
}

.description{
  color: #888;
  font-weight: 400;
  line-break: 4px;
  font-size: 15px;
  line-height: 24px;
}

.company-inc {
  font-family: 'Open Sans', sans-serif
}

/* Relates second half of the footer horizontally */

.footer-head-title-contact {
  font-family: cursive;
  font-weight: 200;
  text-align: center;
  padding-bottom: 20px;
  text-shadow: 1px 1px #888;

}
.address{
  color: #888;
  font-weight: 400;
  font-size: 15px;
}

.phone{
  color: #888;
  font-weight: 400;
  font-size: 15px;
}

.email  {
  color: #888;
  font-weight: 400;
  font-size: 15px;
}

.footer-head-title-link{
  font-family: cursive;
  font-weight: 200;
  text-align: center;
  padding-bottom: 20px;
  text-shadow: 1px 1px #888;
}

.link_heritage, .link_home, .link_crafts, .link_gallery {
  font-size: 15px;
  transition-timing-function: ease;
  text-decoration: none;
  color: #888;
  font-family: 'Open Sans', sans-serif
}

.link_heritage:hover, .link_home:hover, .link_crafts:hover, .link_gallery:hover{
  color: black
}