
/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom:0;
  height: auto;
  background-color: #fcfae1c6;
}

.container{
  bottom:0;
	width: 100%;
  left: 0;
  right: 0;
  bottom:0;
  display: flex; /* Standard syntax */
}

.Copyright{
  padding-top: 25px;
  font-size: 13px;
  size: 20px;
  color: rgb(31, 24, 132);
  background-color: transparent;
  cursor: pointer;
  border: 0px solid;
  outline: none;
}

.list{
  color: white;
  font-size: 13px;
  background-color: transparent;
  outline: none;
  border: 0px solid;
}
 .termsandconditions, .copyright, .careers{
  padding-top: 25px;
  color: rgb(31, 24, 132);
  font-size: 13px;
  background-color: transparent;
  outline: none;
  size: 20px;
  border: 0px solid;
  cursor: pointer;
}