<footer class="footer">
  <div class="container">
    <div class="CopyrightContainer">
      <button class = "Copyright">@Copyright Soumya Metal Arts and Crafts 2018.</button>
    </div>
    <div class="termsandconditionsContainer">
        <ul class= "list">
            <button class = "careers" (click) = "displayText()">Carrers</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button class = "copyright">Copyrights</button>&nbsp; &nbsp; &nbsp; &nbsp;
            <button class = "termsandconditions">TermsandConditions</button> 
        </ul>
    </div></div>
</footer>