    <footer class = "footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">
              <div class="col-md-3 footer-about wow fadeInUp" style="font-family: 'Cambria', Arial, Helvetica, sans-serif;">
                  <h3 class = "footer-head-title-contact" style="color: white">Contact</h3>
                  <p class = 'address'><i class="fas fa-map-marker-alt"></i> Pudhumai Nagar, Ariyur, Vellore - 55</p>
                  <p class = 'phone'> Phone: (91) 9787444059</p>
                  <p class = 'email'>Email: <a href="mailto:ssmaac@gmail.com">hello@ssmaac@gmail.com</a></p>
              </div>
              <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown">
                  <div class="row">
                      <div class="col">
                        <h3 class = "footer-head-title-link" style="color: white">Links</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p><a class="scroll-link link_home" style="transition:all; transition: duration 0.3; transition-timing-function: ease" href="#top-content">Home</a></p>
                        <p><a class = "link_heritage" href="#">Heritage</a></p>
                        <p><a class = "link_crafts" href="#">Our Crafts</a></p>
                        <p><a class = "link_gallery" href="#">Gallery</a></p>
                      </div>
                    </div>
              </div>
              <div class="col-md-4 footer-links wow fadeInUp">
                      <!-- <div class="row">
                        <div class="col">
                          <h3 class = "footer-head-title-link">Links</h3>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <p><a class="scroll-link link_home" style="transition:all; transition: duration 0.3; transition-timing-function: ease" href="#top-content">Home</a></p>
                          <p><a class = "link_heritage" href="#">Heritage</a></p>
                          <p><a class = "link_crafts" href="#">Our Crafts</a></p>
                          <p><a class = "link_gallery" href="#">Gallery</a></p>
                        </div>
                      </div> -->
                      <div class="socialIcons">
                        <!-- Text -->
                        <div class="row">
                            <div class="col-md-4">
                          <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i><img src="../../../assets/facebook-logo.png"></a>
                            </div>
                            <div class="col-md-4">
                        <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i><img src="../../../assets/twitter-logo.png"></a>
                      </div>
                      <div class="col-md-4">
                        <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i><img src="../../../assets/instagram.png"></a>
                      </div>
                      </div>
                        <!-- <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> -->
                    </div>
                    </div>
              </div>
          </div>
        </div>
      </footer>